<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b6f75825-ae8f-42fc-aa9e-f130e09b1384" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 25" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b6f75825-ae8f-42fc-aa9e-f130e09b1384fileName">REST-Service-25</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
