<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="9f1134cd-89f4-4a88-9103-f9e922640124" activeEnvironment="Default environment" name="REST Project 2" lastOpened="2018-03-09T16:27:13.947-05:00" resourceRoot="" soapui-version="6.0.0" encryptionMode="Not encrypted" updated="2.6.0" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9f1134cd-89f4-4a88-9103-f9e922640124fileName">REST-Project-2-soapui-project</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>https://github.com/iahmedgov/RestAPI.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository>
    <con:basicAuthEntry>
      <con:name>User Iahmed</con:name>
      <con:type>Basic</con:type>
      <con:username>username</con:username>
      <con:password>password</con:password>
    </con:basicAuthEntry>
  </con:authRepository>
  <con:tags/>
</con:soapui-project>
