<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0d2fe9b8-579e-4b13-974e-a4fbd88eb6b7" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 14" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0d2fe9b8-579e-4b13-974e-a4fbd88eb6b7fileName">REST-Service-14</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
