<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="9d41f78a-f84e-452d-ab2a-d01ccc52eac0" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 10" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9d41f78a-f84e-452d-ab2a-d01ccc52eac0fileName">REST-Service-10</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>