<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c645edda-290a-4904-ba98-28df57741b2d" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 6" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="c645edda-290a-4904-ba98-28df57741b2dfileName">REST-Service-6</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>