<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c45b56b1-1d70-4ee8-ad68-dfb4c36274aa" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 15" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c45b56b1-1d70-4ee8-ad68-dfb4c36274aafileName">REST-Service-15</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
