<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="887be6e9-e379-4634-8ae3-d7b76b326d39" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 3" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="887be6e9-e379-4634-8ae3-d7b76b326d39fileName">REST-Service-3</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>